// Le CSS Page Not Found
.pageNotFound {
    padding: 75px 45px;

    h1 {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .button_wrap {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 50px 0px;

        button {
            width: 240px;
            height: 50px;
            border: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: $white;
            font-family: "Roboto", sans-serif;
            cursor: pointer;
            background: linear-gradient(264.91deg, #f47726 2.91%, #ffb483 98.68%);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 20px;

            .btn-link {
                color: $white;
            }
        }
    }
}