// Le CSS Navbar
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container-header{

    .header{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icons-mobile{
        display: none;
    }

    .navbar{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 2rem;

        .icons{
            position: relative;
            display: flex;
            flex-direction: row;
            gap:5px;
        
            .icon:hover{
                color:white;
                background: rgba(7, 7, 7, 0.233);
                backdrop-filter: blur(10px);
                border-radius: 50%;
                padding: 10px;
            }

            .icon{
    
                display: flex;
                align-items: center;

                a{
                    display: flex;
                    align-items: center;
                }
    
                h2{
                    font-size: 1.5rem;
                }

                .sub-menu-account{
                    position: absolute;
                    top: 100%; /* positionner la sous-menu juste en dessous de l'élément parent */
                    left: -50%;
                    width: 120px;
                    background: white;
                    border-radius: 0.5vw;
                    padding: 30%;

                    ul{
                        display: flex;
                        flex-direction: column;

                            a{
                                font-size: 50%;
                                padding-bottom: 5px;
                            }
                    }
                }
            }             
        }

        a{
            text-decoration: none;
            color:black;
        }

        .nav-links {
            width: 100%;
            display: flex;
            flex-direction: row;

            ul{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            a:hover{
                text-decoration: underline;
            }
        }

    }


    .menu-hamburger{
        display: none;
    }

    .mobile-icon{
        display: none;
    }

    .sub-menu-hide{
        display:none;
    }


    .sub-menu-products{
        background: rgba(240, 236, 236, 0.233);
        backdrop-filter: blur(10px);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a{
            text-decoration: none;
            font-family: 'Quicksand';
            color: black;
        }
    
        a:hover{
            text-decoration: underline;
        }
    
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .item:hover{
            background: rgba(240, 236, 236, 0.433);
            backdrop-filter: blur(15px);
        }
    }

    @media screen and (max-width:600px){


        .header{
             clip-path: none;
            display: flex;
            flex-direction: column;
            align-items: normal;
            position: absolute;
            
            .icons{
                display: none;
            }


            .top{
                position:fixed;
                top:0;
                background-color: white;
                z-index: 5;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                

                .icons-mobile{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 50px;
                    
        
                    a{
                        text-decoration: none;
                        color: black;
                    }     
        
                    .mobile-icon:hover{
                        color:white;
                        background: rgba(7, 7, 7, 0.233);
                        backdrop-filter: blur(10px);
                        border-radius: 50%;
                        padding: 10px;
                    }

                    .mobile-icon{
        
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 50%;
        
                        h2{
                            font-size: 1.5rem;
                        }
                    }
                }
            }

        }

        .sub-menu-products{
            display: none;
            }
    
            .logo{
                display:none;
            }

        .navbar a{
            color: black;
            font-family: 'Quicksand';
            font-size: 5rem;
        }

        .menu-hamburger{
            display: block;
            height: auto;
            margin: 10px;
            width: 50px;
        }
        
        .nav-links{
            background: rgba(240, 236, 236, 0.233);
            backdrop-filter: blur(30px);
            width: 100%;
            height:100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;
            z-index: 1;
            gap: 3vh;
            position:fixed;
            top:0;
        }

        .nav-links.mobile-menu {
            margin-left: 0;
        } 

        .navbar .nav-links ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3vh;
        }
    }
}
