// Styles communs à toute l'application

//----- SCREEN SIZES ----
$tablet: 1000px;
$phone: 780px;

//----- COLORS ----
$orange: #f47726;
$darkGray: #252525;
$lightGray: #d9d9d9;
$lightGrayTwo: #F9FAFC;
$policeGray: #B7BCC2;
$borderGray: #E6E9ED;
$white: #ffffff;
$beige: #f6e6cd;

/* Reset all padding and margins to zero */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: "Russo One", Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove bullet points from unordered lists */
ul {
  list-style: none;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
}